---
import Layout from "../layouts/layout.astro";
---

<Layout title="Página no encontrada">
    <main>
        <h1>Página no encontrada</h1>
        <p>Lo sentimos, la página que buscas no existe.</p>
    </main>
</Layout>