---
import { BASE_URL } from '../consts';
---



<header>
    <h2> Framber Dev</h2>
</header>

<nav>
<a href="/">Home</a>
<a href={`${BASE_URL}/blog`}>Blog</a>
<a href={`${BASE_URL}/about`}>About</a>
</nav>
