---
import HeaderLink from "./HeaderLink.astro";
import { BASE_URL } from '../consts';
---



<header>
    <h2> Framber Dev</h2>
</header>

<nav>
<HeaderLink href="/">Inicio</HeaderLink>
      <HeaderLink href="/blog">Posts</HeaderLink>
      <HeaderLink href="/about">Sobre nosotros</HeaderLink>
</nav>
